# Virtual Environments
/venv

# Compiled Output
__pycache__

# IDEs and Editors
.idea

# System Files
.DS_Store
Thumbs.db

# Misc
/log
/static

/logs
/dump
/dbs
/eggs
/crawling/build
/crawling/project.egg-info

/debug_screen_shots
/Result

